Package: QHOSYN
Architecture: amd64
Section: sound
Priority: optional
Version:0.9-1
Maintainer:Rodney DuPlessis <rodney@rodneyduplessis.com>
Depends:libsndfile1, libc6
Homepage: https://github.com/rodneydup/QHOSYN
Description: This package provides QHOSYN, a synthesizer that sonifies a quantum harmonic oscillator.
